<div class="nav card">

    <ul class="nav-items flex">
        <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><a routerLink="/project" routerLinkActive="active-link">Project</a></li>
        <li><a routerLink="/certificates" routerLinkActive="active-link">Certificates</a></li>
        <li><a routerLink="/contact" routerLinkActive="active-link">Contact</a></li>
        <li><a href="assets\PAWASKAR AFROZ CV Web Developer.pdf" download="Resume" class="resume">Resume <i class="fa-solid fa-download"></i></a></li>

    </ul>
</div>


