.cards-container {
    background-color: white;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    height: 650px;
    overflow-y: auto;
}

.cards-container::-webkit-scrollbar {
    width: 0;
}

.project-card {
    /* border: 1px solid black; */
    /* width: calc(33.78% - 20px); */
    width: 400px;
    /* height: 480px; */
    height: fit-content;
    box-shadow: var(--box-shadow);
    flex-direction: column;
    text-align: justify;
}

.img-tab img {
    object-fit: contain; 
    max-width: 100%; 
    max-height: 100%;
    margin: 10px 0 10px 0;
}


.project-card h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 8px;
}

.project-card p {
    font-size: 14px;
}

.project-card .btn {
    display: block;
    margin-top: 8px;
    padding: 10px 20px;
    text-align: center;
    background-color: var(--primary-text-color);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.project-card .btn:hover {
    background-color: var(--accent-color);
}