<aside class="profile-sidebar flex card">
    <figure>
        <img src="assets/profile.png" alt="Profile Picture">
    </figure>
    <div class="contact-info">
        <div class="name">
            <h2>{{ profile.name }}</h2>
            <p>{{ profile.tagline }}</p>
        </div>

        <p><a href="mailto:{{ profile.email }}">{{ profile.email }}</a></p>
        <p><a href="tel:{{ profile.phoneNumber }}">{{ profile.phoneNumber }}</a></p>
        
        <div class="social-icons flex">
            <a href="https://github.com/AfrozPawaskar" target="_blank"><i class="fab fa-github"></i></a>
            <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.instagram.com/afrozqawaskar/" target="_blank"><i class="fab fa-instagram-square"></i></a>
            <a href="https://youtube.com/c/AfominationTech" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</aside>
